@model InsuranceAgency__.Models.Administrator

@{
    ViewData["Title"] = "Delete";
}

<h3>Действительно ли вы хотите удалить администратора?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ФИО
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIO)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" onclick=" alert('Администратор успешно удалён!')"/> |
        <a href="\Home\Index">Вернуться назад</a>
    </form>
</div>
