@{
    ViewData["Title"] = "Справочные услуги";
}
<h1>@ViewData["Title"]</h1>
<head>
    <style>
        .rounded {
            counter-reset: li;
            list-style: none;
            font: 14px "Trebuchet MS", "Lucida Sans";
            padding: 0;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

            .rounded a {
                position: relative;
                display: block;
                padding: .4em .4em .4em 2em;
                margin: .5em 0;
                background: #DAD2CA;
                color: #444;
                text-decoration: none;
                border-radius: .3em;
                transition: .3s ease-out;
            }

                .rounded a:hover {
                    background: #E9E4E0;
                }

                    .rounded a:hover:before {
                        transform: rotate(360deg);
                    }

                .rounded a:before {
                    content: counter(li);
                    counter-increment: li;
                    position: absolute;
                    left: -1.3em;
                    top: 50%;
                    margin-top: -1.3em;
                    background: #8FD4C1;
                    height: 2em;
                    width: 2em;
                    line-height: 2em;
                    border: .3em solid white;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 2em;
                    transition: all .3s ease-out;
                }
    </style>
</head>
<body>
    <div>
        <h3>Как оформить договор ?</h3>
        <ol class="rounded">
            <li><a href="#z1">Подача заявки</a></li>
            <li><a href="#z2">Обработка личных данных</a></li>
            <li><a href="#z3">Оплата договора</a></li>
            <li><a href="#z4">Прохождение экспертизы</a></li>
            <li><a href="#z5">Контакты компании</a></li>
        </ol>
    </div>
    <br>
    <div>
        <p id="z1">
            Подайте заявку и ждите обновления статуса в списке необработанных заявок. Для этого заполните свои инициалы, паспортные данные, тип действия над договором
            (оформить/расторгнуть) и вид страхования.
        </p>
        <p id="z2">
            После того, как ваш статус будет иметь значение - Заявка принята, нужно отправить личные данные, после этого страховой агент добавляет вас в БД.
        </p>
        <p id="z3">
            Далее после проверки ваших данных, нужно оплатить договор, используя платёжные данные компании,которые предоставить вам страховой агент,также, в просмотре платёжных данных вы сможете увидеть свой идентификатор. Даллее нужно отправить данные об оплате. В том случае, если оплата прошла успешно, статус в таблице заявок обновляется страховым агентом. Страховой агент начнёт оформлять на вас договор, свои договоры вы можете посмотреть в списке договоров(Используйте поиск по идентификатору, который вы получили от агента).
        </p>
        <p id="z4">
            После этого проходит страховая экспертиза, страховой агент связывается с вами при помощи введёных вами контактов(телефон), осматривает страховой объект/услугу и оценивает. После этого страховой агент
            добавляет вас в базу данных компании, автоматически вы становитесь клиентом нашей компании.
        </p>
        <p id="z5">
            Контактные номера: +7(49241)34430; +7(49241)35560.
        </p>
    </div>
</body>
