@model InsuranceAgency__.Models.Applications

@{
    ViewData["Title"] = "Edit";
}

<h1>Правка данных заявки</h1>

<h4>Заявка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FIO" class="control-label">ФИО</label>
                <input asp-for="FIO" class="form-control" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportNumber" class="control-label">Номер паспорта</label>
                <input asp-for="PassportNumber" class="form-control" />
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportSeries" class="control-label">Серия паспорта</label>
                <input asp-for="PassportSeries" class="form-control" />
                <span asp-validation-for="PassportSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractValidity" class="control-label">Оформить/расторгнуть договор</label>
                <input asp-for="ContractValidity" class="form-control" />
                <span asp-validation-for="ContractValidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceType" class="control-label">Вид страхования</label>
                <input asp-for="InsuranceType" class="form-control" />
                <span asp-validation-for="InsuranceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceAmount" class="control-label">Страховая сумма</label>
                <input asp-for="InsuranceAmount" class="form-control" />
                <span asp-validation-for="InsuranceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationStatus" class="control-label">Статус заявки</label>
                <input asp-for="ApplicationStatus" class="form-control" />
                <span asp-validation-for="ApplicationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label">Идентификатор клиента</label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить" class="btn btn-primary" onclick=" alert('Данные успешно изменены!')" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="\Home\Index">Вернуться назад</a>
</div>

